#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>      // ADDED: Bluetooth profile controls
#include <dt-bindings/zmk/outputs.h> // ADDED: Physical connection toggle

/ {
    behaviors {
        encoder_btn: hold_tap_encoder {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <250>; 
            bindings = <&tog>, <&kp>;
        };
    };
    keymap {
        compatible = "zmk,keymap";
        volume_layer {
            display-name = "VOLUME";
            bindings = <
                &kp C_PREV  &kp C_MUTE  &kp C_NEXT  &encoder_btn 1 C_PP
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        brightness_layer {
            display-name = "BRIGHT";
            bindings = <
                &bt BT_CLR  &kp C_MUTE  &studio_unlock   &tog RAISE
            >;
            sensor-bindings = <&inc_dec_kp C_BRI_UP C_BRI_DN>;
        };
    };
};
